In [591]:
import pandas as pd
import numpy as np

In [592]:
map = {
    "name": ["friendA", "friendB", "friendC", "friendD"],
    "marks": [100, 99, 33, 10],
    "city": ["hyderabad", "pune", "vijaywada", "un"]
}

In [593]:
df = pd.DataFrame(map)
df

      name  marks       city
0  friendA    100  hyderabad
1  friendB     99       pune
2  friendC     33  vijaywada
3  friendD     10         un

In [594]:
df.to_csv('test.csv', index=False)

In [595]:
df.head(1)

      name  marks       city
0  friendA    100  hyderabad

In [596]:
df.tail(1)

      name  marks city
3  friendD     10   un

In [597]:
df.describe()

            marks
count    4.000000
mean    60.500000
std     46.003623
min     10.000000
25%     27.250000
50%     66.000000
75%     99.250000
max    100.000000

In [598]:
df = pd.read_csv('trains.csv')
df

   Train No  Speed       City
0     82398     70      delhi
1     72391     50     mumbai
2     61280    100  hyderabad
3     19842     80    kolkata

In [599]:
df.Speed

0     70
1     50
2    100
3     80
Name: Speed, dtype: int64

In [600]:
# df['Speed'][0] = 65
df.loc[0, 'Speed'] = 65
df

   Train No  Speed       City
0     82398     65      delhi
1     72391     50     mumbai
2     61280    100  hyderabad
3     19842     80    kolkata

In [601]:
df.index = [1,2,3,4]

In [602]:
df

   Train No  Speed       City
1     82398     65      delhi
2     72391     50     mumbai
3     61280    100  hyderabad
4     19842     80    kolkata

In [603]:
print(type(df))
print(type(df['Speed']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [604]:
series = pd.Series(np.random.rand(5))
series

0    0.364299
1    0.447453
2    0.508851
3    0.651022
4    0.950043
dtype: float64

In [605]:
dataframe = pd.DataFrame(np.random.rand(55,5), index=np.arange(55))
dataframe

           0         1         2         3         4
0   0.847869  0.776035  0.716339  0.959637  0.088781
1   0.951351  0.023140  0.140988  0.408833  0.642317
2   0.329000  0.796062  0.907257  0.636330  0.067406
3   0.670053  0.155553  0.472281  0.429144  0.489648
4   0.196213  0.944886  0.135891  0.962055  0.753262
5   0.249262  0.921216  0.245563  0.924737  0.504351
6   0.421743  0.709151  0.952861  0.623875  0.805409
7   0.578277  0.376179  0.905031  0.907510  0.052038
8   0.274156  0.050498  0.925438  0.308034  0.593946
9   0.536497  0.783395  0.630345  0.360718  0.796983
10  0.965474  0.750273  0.142564  0.229569  0.499030
11  0.959529  0.456501  0.208263  0.330282  0.792010
12  0.981598  0.927377  0.759148  0.128164  0.206271
13  0.649239  0.148720  0.217815  0.987090  0.692974
14  0.135534  0.809644  0.814381  0.682818  0.219015
15  0.417220  0.662360  0.449716  0.664306  0.872540
16  0.174636  0.703101  0.103202  0.765724  0.958389
17  0.075079  0.291644  0.043818  0.477701  0.223396
18  0.992062  0.872981  0.392560  0.946093  0.852908
19  0.806567  0.103426  0.929348  0.833413  0.146061
20  0.183585  0.152004  0.407528  0.902604  0.369166
21  0.259644  0.336543  0.719953  0.064871  0.838772
22  0.811526  0.556216  0.644011  0.179640  0.234866
23  0.341895  0.157574  0.719710  0.121018  0.040292
24  0.834356  0.464847  0.219516  0.405998  0.403962
25  0.095220  0.528859  0.675631  0.422851  0.655461
26  0.248182  0.081798  0.013389  0.532085  0.858371
27  0.117604  0.083155  0.936955  0.348587  0.347771
28  0.695759  0.873634  0.200476  0.488540  0.710139
29  0.086667  0.751273  0.425392  0.375060  0.634509
30  0.423422  0.773383  0.406293  0.520569  0.190350
31  0.942067  0.785639  0.957348  0.753487  0.887498
32  0.346362  0.638768  0.459193  0.934351  0.666867
33  0.400942  0.651214  0.763098  0.786006  0.218709
34  0.302358  0.597734  0.467455  0.250664  0.212964
35  0.237435  0.379551  0.065531  0.089136  0.982978
36  0.014854  0.876719  0.895236  0.507235  0.441160
37  0.766346  0.029441  0.520215  0.111581  0.879730
38  0.789907  0.900450  0.489775  0.275209  0.127129
39  0.366199  0.891954  0.965648  0.506348  0.785217
40  0.685265  0.950241  0.722769  0.324005  0.791677
41  0.822230  0.169970  0.813160  0.103676  0.423456
42  0.389671  0.695233  0.932144  0.214459  0.286391
43  0.582035  0.260959  0.236869  0.538714  0.923514
44  0.744700  0.477787  0.004466  0.126114  0.502097
45  0.028510  0.620270  0.171612  0.462371  0.803356
46  0.155479  0.867304  0.824612  0.968299  0.916897
47  0.829988  0.275150  0.619162  0.470933  0.028039
48  0.676810  0.019878  0.430585  0.236969  0.871554
49  0.380101  0.413521  0.971520  0.919742  0.391715
50  0.989393  0.105521  0.861747  0.301964  0.380497
51  0.469710  0.063531  0.701141  0.673669  0.222328
52  0.448681  0.947412  0.987495  0.554935  0.998453
53  0.616125  0.358494  0.884195  0.200440  0.648423
54  0.024145  0.128972  0.655383  0.913416  0.751870

In [606]:
dataframe.describe()

               0          1          2          3          4
count  55.000000  55.000000  55.000000  55.000000  55.000000
mean    0.496701   0.511403   0.561128   0.511847   0.539689
std     0.303287   0.315179   0.310879   0.285994   0.297680
min     0.014854   0.019878   0.004466   0.064871   0.028039
25%     0.248722   0.163772   0.241216   0.288586   0.229131
50%     0.423422   0.556216   0.630345   0.477701   0.593946
75%     0.778127   0.784517   0.843179   0.759606   0.800170
max     0.992062   0.950241   0.987495   0.987090   0.998453

In [607]:
dataframe.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [608]:
dataframe[0][0] = "nums"

In [609]:
dataframe.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [610]:
dataframe

           0         1         2         3         4
0       nums  0.776035  0.716339  0.959637  0.088781
1   0.951351  0.023140  0.140988  0.408833  0.642317
2      0.329  0.796062  0.907257  0.636330  0.067406
3   0.670053  0.155553  0.472281  0.429144  0.489648
4   0.196213  0.944886  0.135891  0.962055  0.753262
5   0.249262  0.921216  0.245563  0.924737  0.504351
6   0.421743  0.709151  0.952861  0.623875  0.805409
7   0.578277  0.376179  0.905031  0.907510  0.052038
8   0.274156  0.050498  0.925438  0.308034  0.593946
9   0.536497  0.783395  0.630345  0.360718  0.796983
10  0.965474  0.750273  0.142564  0.229569  0.499030
11  0.959529  0.456501  0.208263  0.330282  0.792010
12  0.981598  0.927377  0.759148  0.128164  0.206271
13  0.649239  0.148720  0.217815  0.987090  0.692974
14  0.135534  0.809644  0.814381  0.682818  0.219015
15   0.41722  0.662360  0.449716  0.664306  0.872540
16  0.174636  0.703101  0.103202  0.765724  0.958389
17  0.075079  0.291644  0.043818  0.477701  0.223396
18  0.992062  0.872981  0.392560  0.946093  0.852908
19  0.806567  0.103426  0.929348  0.833413  0.146061
20  0.183585  0.152004  0.407528  0.902604  0.369166
21  0.259644  0.336543  0.719953  0.064871  0.838772
22  0.811526  0.556216  0.644011  0.179640  0.234866
23  0.341895  0.157574  0.719710  0.121018  0.040292
24  0.834356  0.464847  0.219516  0.405998  0.403962
25   0.09522  0.528859  0.675631  0.422851  0.655461
26  0.248182  0.081798  0.013389  0.532085  0.858371
27  0.117604  0.083155  0.936955  0.348587  0.347771
28  0.695759  0.873634  0.200476  0.488540  0.710139
29  0.086667  0.751273  0.425392  0.375060  0.634509
30  0.423422  0.773383  0.406293  0.520569  0.190350
31  0.942067  0.785639  0.957348  0.753487  0.887498
32  0.346362  0.638768  0.459193  0.934351  0.666867
33  0.400942  0.651214  0.763098  0.786006  0.218709
34  0.302358  0.597734  0.467455  0.250664  0.212964
35  0.237435  0.379551  0.065531  0.089136  0.982978
36  0.014854  0.876719  0.895236  0.507235  0.441160
37  0.766346  0.029441  0.520215  0.111581  0.879730
38  0.789907  0.900450  0.489775  0.275209  0.127129
39  0.366199  0.891954  0.965648  0.506348  0.785217
40  0.685265  0.950241  0.722769  0.324005  0.791677
41   0.82223  0.169970  0.813160  0.103676  0.423456
42  0.389671  0.695233  0.932144  0.214459  0.286391
43  0.582035  0.260959  0.236869  0.538714  0.923514
44    0.7447  0.477787  0.004466  0.126114  0.502097
45   0.02851  0.620270  0.171612  0.462371  0.803356
46  0.155479  0.867304  0.824612  0.968299  0.916897
47  0.829988  0.275150  0.619162  0.470933  0.028039
48   0.67681  0.019878  0.430585  0.236969  0.871554
49  0.380101  0.413521  0.971520  0.919742  0.391715
50  0.989393  0.105521  0.861747  0.301964  0.380497
51   0.46971  0.063531  0.701141  0.673669  0.222328
52  0.448681  0.947412  0.987495  0.554935  0.998453
53  0.616125  0.358494  0.884195  0.200440  0.648423
54  0.024145  0.128972  0.655383  0.913416  0.751870

In [611]:
dataframe.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54],
           dtype='int64')

In [612]:
dataframe.columns

RangeIndex(start=0, stop=5, step=1)

In [613]:
dataframe[0][0] = 3

In [614]:
dataframe.to_numpy()

array([[3, 0.7760347935650049, 0.7163389710435324, 0.959636746296072,
        0.08878064514662165],
       [0.9513511744370997, 0.023140068915174727, 0.14098772983264485,
        0.40883287017998793, 0.6423171390823547],
       [0.3290004167412257, 0.7960615013825509, 0.9072568910337285,
        0.636330493043218, 0.06740649371441498],
       [0.6700529997992558, 0.155553109650011, 0.4722809993501126,
        0.42914406650693715, 0.4896476517875975],
       [0.19621277126617764, 0.944885843177666, 0.13589090966661488,
        0.9620552777613933, 0.7532618034113491],
       [0.24926165086389274, 0.9212156318735101, 0.24556304883694624,
        0.9247367945375562, 0.5043512279710359],
       [0.42174319767986934, 0.7091505005026656, 0.9528607006884847,
        0.6238754450553102, 0.8054087125654366],
       [0.5782766427691065, 0.37617920620373446, 0.9050307494865802,
        0.907509537070508, 0.05203774305828568],
       [0.27415561104017394, 0.050498211262329784, 0.9254379495874003,
        0.30803430683512034, 0.5939460987011436],
       [0.5364969606907861, 0.7833953790760192, 0.6303445418977645,
        0.36071845539302017, 0.7969832964668968],
       [0.9654744788539281, 0.7502733865284277, 0.14256397317209546,
        0.22956948934317256, 0.4990301469094772],
       [0.9595294539204365, 0.4565008049513297, 0.20826308836781604,
        0.330281903377608, 0.7920095863611947],
       [0.9815979766875137, 0.9273766742094911, 0.7591484691613721,
        0.128163907335078, 0.20627145120651547],
       [0.6492393563865313, 0.1487203586279927, 0.21781492091999688,
        0.9870903895699135, 0.692973530962856],
       [0.13553405991965028, 0.8096441321963624, 0.8143807034203984,
        0.682817916611791, 0.21901507385935348],
       [0.4172203327706929, 0.6623600517638707, 0.4497164270655649,
        0.6643058366070367, 0.8725402118503442],
       [0.1746357007903807, 0.7031008550481337, 0.10320188339172054,
        0.7657244647847115, 0.958389471479275],
       [0.07507873299307366, 0.2916439700058665, 0.04381775132796173,
        0.4777010876016984, 0.22339556034698094],
       [0.992062044573307, 0.8729813429621867, 0.39255984190923143,
        0.9460930556374832, 0.8529078234050891],
       [0.8065674828629399, 0.10342558304876193, 0.9293476795982596,
        0.8334127769623747, 0.14606115026494193],
       [0.18358461173428575, 0.15200365920515735, 0.4075279077247982,
        0.9026043879468939, 0.36916615649624096],
       [0.25964408721729637, 0.33654288969857915, 0.7199525386336115,
        0.064870957869548, 0.8387718778610306],
       [0.811525808580069, 0.5562161707155358, 0.6440113265096087,
        0.17964017191271442, 0.23486584014198864],
       [0.3418953501508909, 0.1575735922963457, 0.7197097700448761,
        0.12101806771087231, 0.04029208637950743],
       [0.8343564804745365, 0.4648465739802544, 0.2195160522632399,
        0.4059975612661103, 0.4039617958585515],
       [0.0952203589628362, 0.5288593002419193, 0.6756310076464388,
        0.4228512661579529, 0.6554607983907007],
       [0.24818184214447236, 0.08179815267668733, 0.013389241177764966,
        0.5320847488874768, 0.858371259129211],
       [0.1176040893914756, 0.08315470545445347, 0.936955458399266,
        0.34858669866102665, 0.3477709024731582],
       [0.6957592042311009, 0.8736340703311661, 0.20047608075385825,
        0.48854015305952736, 0.7101393699759446],
       [0.08666660268422421, 0.7512727364621044, 0.42539188583455156,
        0.3750601001352184, 0.6345088206240764],
       [0.42342179947273484, 0.7733828664155088, 0.40629330113063655,
        0.52056861983846, 0.19035031270761438],
       [0.9420673910260208, 0.7856389816506893, 0.9573476092616299,
        0.7534872124141322, 0.8874980290054584],
       [0.3463617431638568, 0.6387679489935659, 0.4591930879801075,
        0.9343511592549969, 0.6668665142224854],
       [0.40094157069632896, 0.6512140180278345, 0.7630979515794448,
        0.7860058660253942, 0.218708938966925],
       [0.30235776936364456, 0.5977338930742347, 0.4674546185675711,
        0.25066447569240613, 0.21296378790497805],
       [0.23743512358429675, 0.3795508413120826, 0.06553110916578964,
        0.08913602549054733, 0.9829779047398395],
       [0.014854174380119156, 0.8767186757515526, 0.8952358687532966,
        0.5072345842377801, 0.44116015495775274],
       [0.7663460691389519, 0.029441141666587733, 0.5202146389451994,
        0.11158052823629583, 0.8797299449159268],
       [0.7899074002834827, 0.9004502489464485, 0.4897748535326595,
        0.2752085565408544, 0.127128522683414],
       [0.3661988781419605, 0.8919544877043306, 0.9656483996256292,
        0.5063484755956532, 0.7852167480776394],
       [0.6852654741710306, 0.9502407867163033, 0.7227686822944129,
        0.32400498509251985, 0.7916773692784398],
       [0.8222295937883298, 0.16996951739826238, 0.8131604336762729,
        0.10367587257044997, 0.4234557061468691],
       [0.3896711574762851, 0.6952334126676367, 0.9321438540608967,
        0.2144594161125576, 0.2863910164662675],
       [0.5820346020807656, 0.26095916395080865, 0.23686885647802447,
        0.5387142737789642, 0.923513910575609],
       [0.7447000367390331, 0.47778671468839085, 0.004466203255625967,
        0.12611370101239106, 0.5020971561272196],
       [0.028510306747088876, 0.6202698698566854, 0.17161164170785903,
        0.462371091933483, 0.8033563602565975],
       [0.15547946847237948, 0.8673040071247976, 0.8246119523455572,
        0.9682990924460113, 0.9168967807602546],
       [0.8299879994360465, 0.2751498375210283, 0.6191615456734417,
        0.4709332191237856, 0.028038880968008884],
       [0.676809846078927, 0.01987814569204638, 0.43058496045695593,
        0.23696928083666358, 0.8715539471888347],
       [0.3801014420771808, 0.41352143532572794, 0.971520441612098,
        0.9197421350686271, 0.3917147178259768],
       [0.9893934953491355, 0.10552102054630574, 0.8617466676738137,
        0.30196363825750616, 0.38049681565134286],
       [0.46971018042827106, 0.06353143403457984, 0.7011405721053646,
        0.6736687302256688, 0.22232791723484535],
       [0.44868121293716445, 0.9474123800107335, 0.9874951625260748,
        0.5549347328748818, 0.9984527155531631],
       [0.6161251080777261, 0.35849419073844635, 0.884194819357408,
        0.20044007300256916, 0.6484226562847045],
       [0.024145184559182353, 0.12897159955944693, 0.6553827355495222,
        0.9134158069521943, 0.7518697275154039]], dtype=object)

In [615]:
dataframe.T

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,3,0.951351,0.329,0.670053,0.196213,0.249262,0.421743,0.578277,0.274156,0.536497,...,0.02851,0.155479,0.829988,0.67681,0.380101,0.989393,0.46971,0.448681,0.616125,0.024145
1,0.776035,0.02314,0.796062,0.155553,0.944886,0.921216,0.709151,0.376179,0.050498,0.783395,...,0.62027,0.867304,0.27515,0.019878,0.413521,0.105521,0.063531,0.947412,0.358494,0.128972
2,0.716339,0.140988,0.907257,0.472281,0.135891,0.245563,0.952861,0.905031,0.925438,0.630345,...,0.171612,0.824612,0.619162,0.430585,0.97152,0.861747,0.701141,0.987495,0.884195,0.655383
3,0.959637,0.408833,0.63633,0.429144,0.962055,0.924737,0.623875,0.90751,0.308034,0.360718,...,0.462371,0.968299,0.470933,0.236969,0.919742,0.301964,0.673669,0.554935,0.20044,0.913416
4,0.088781,0.642317,0.067406,0.489648,0.753262,0.504351,0.805409,0.052038,0.593946,0.796983,...,0.803356,0.916897,0.028039,0.871554,0.391715,0.380497,0.222328,0.998453,0.648423,0.75187

In [616]:
dataframe.sort_index(axis=0, ascending=False)

           0         1         2         3         4
54  0.024145  0.128972  0.655383  0.913416  0.751870
53  0.616125  0.358494  0.884195  0.200440  0.648423
52  0.448681  0.947412  0.987495  0.554935  0.998453
51   0.46971  0.063531  0.701141  0.673669  0.222328
50  0.989393  0.105521  0.861747  0.301964  0.380497
49  0.380101  0.413521  0.971520  0.919742  0.391715
48   0.67681  0.019878  0.430585  0.236969  0.871554
47  0.829988  0.275150  0.619162  0.470933  0.028039
46  0.155479  0.867304  0.824612  0.968299  0.916897
45   0.02851  0.620270  0.171612  0.462371  0.803356
44    0.7447  0.477787  0.004466  0.126114  0.502097
43  0.582035  0.260959  0.236869  0.538714  0.923514
42  0.389671  0.695233  0.932144  0.214459  0.286391
41   0.82223  0.169970  0.813160  0.103676  0.423456
40  0.685265  0.950241  0.722769  0.324005  0.791677
39  0.366199  0.891954  0.965648  0.506348  0.785217
38  0.789907  0.900450  0.489775  0.275209  0.127129
37  0.766346  0.029441  0.520215  0.111581  0.879730
36  0.014854  0.876719  0.895236  0.507235  0.441160
35  0.237435  0.379551  0.065531  0.089136  0.982978
34  0.302358  0.597734  0.467455  0.250664  0.212964
33  0.400942  0.651214  0.763098  0.786006  0.218709
32  0.346362  0.638768  0.459193  0.934351  0.666867
31  0.942067  0.785639  0.957348  0.753487  0.887498
30  0.423422  0.773383  0.406293  0.520569  0.190350
29  0.086667  0.751273  0.425392  0.375060  0.634509
28  0.695759  0.873634  0.200476  0.488540  0.710139
27  0.117604  0.083155  0.936955  0.348587  0.347771
26  0.248182  0.081798  0.013389  0.532085  0.858371
25   0.09522  0.528859  0.675631  0.422851  0.655461
24  0.834356  0.464847  0.219516  0.405998  0.403962
23  0.341895  0.157574  0.719710  0.121018  0.040292
22  0.811526  0.556216  0.644011  0.179640  0.234866
21  0.259644  0.336543  0.719953  0.064871  0.838772
20  0.183585  0.152004  0.407528  0.902604  0.369166
19  0.806567  0.103426  0.929348  0.833413  0.146061
18  0.992062  0.872981  0.392560  0.946093  0.852908
17  0.075079  0.291644  0.043818  0.477701  0.223396
16  0.174636  0.703101  0.103202  0.765724  0.958389
15   0.41722  0.662360  0.449716  0.664306  0.872540
14  0.135534  0.809644  0.814381  0.682818  0.219015
13  0.649239  0.148720  0.217815  0.987090  0.692974
12  0.981598  0.927377  0.759148  0.128164  0.206271
11  0.959529  0.456501  0.208263  0.330282  0.792010
10  0.965474  0.750273  0.142564  0.229569  0.499030
9   0.536497  0.783395  0.630345  0.360718  0.796983
8   0.274156  0.050498  0.925438  0.308034  0.593946
7   0.578277  0.376179  0.905031  0.907510  0.052038
6   0.421743  0.709151  0.952861  0.623875  0.805409
5   0.249262  0.921216  0.245563  0.924737  0.504351
4   0.196213  0.944886  0.135891  0.962055  0.753262
3   0.670053  0.155553  0.472281  0.429144  0.489648
2      0.329  0.796062  0.907257  0.636330  0.067406
1   0.951351  0.023140  0.140988  0.408833  0.642317
0          3  0.776035  0.716339  0.959637  0.088781

In [617]:
dataframe.sort_index(axis=1, ascending=False)

           4         3         2         1         0
0   0.088781  0.959637  0.716339  0.776035         3
1   0.642317  0.408833  0.140988  0.023140  0.951351
2   0.067406  0.636330  0.907257  0.796062     0.329
3   0.489648  0.429144  0.472281  0.155553  0.670053
4   0.753262  0.962055  0.135891  0.944886  0.196213
5   0.504351  0.924737  0.245563  0.921216  0.249262
6   0.805409  0.623875  0.952861  0.709151  0.421743
7   0.052038  0.907510  0.905031  0.376179  0.578277
8   0.593946  0.308034  0.925438  0.050498  0.274156
9   0.796983  0.360718  0.630345  0.783395  0.536497
10  0.499030  0.229569  0.142564  0.750273  0.965474
11  0.792010  0.330282  0.208263  0.456501  0.959529
12  0.206271  0.128164  0.759148  0.927377  0.981598
13  0.692974  0.987090  0.217815  0.148720  0.649239
14  0.219015  0.682818  0.814381  0.809644  0.135534
15  0.872540  0.664306  0.449716  0.662360   0.41722
16  0.958389  0.765724  0.103202  0.703101  0.174636
17  0.223396  0.477701  0.043818  0.291644  0.075079
18  0.852908  0.946093  0.392560  0.872981  0.992062
19  0.146061  0.833413  0.929348  0.103426  0.806567
20  0.369166  0.902604  0.407528  0.152004  0.183585
21  0.838772  0.064871  0.719953  0.336543  0.259644
22  0.234866  0.179640  0.644011  0.556216  0.811526
23  0.040292  0.121018  0.719710  0.157574  0.341895
24  0.403962  0.405998  0.219516  0.464847  0.834356
25  0.655461  0.422851  0.675631  0.528859   0.09522
26  0.858371  0.532085  0.013389  0.081798  0.248182
27  0.347771  0.348587  0.936955  0.083155  0.117604
28  0.710139  0.488540  0.200476  0.873634  0.695759
29  0.634509  0.375060  0.425392  0.751273  0.086667
30  0.190350  0.520569  0.406293  0.773383  0.423422
31  0.887498  0.753487  0.957348  0.785639  0.942067
32  0.666867  0.934351  0.459193  0.638768  0.346362
33  0.218709  0.786006  0.763098  0.651214  0.400942
34  0.212964  0.250664  0.467455  0.597734  0.302358
35  0.982978  0.089136  0.065531  0.379551  0.237435
36  0.441160  0.507235  0.895236  0.876719  0.014854
37  0.879730  0.111581  0.520215  0.029441  0.766346
38  0.127129  0.275209  0.489775  0.900450  0.789907
39  0.785217  0.506348  0.965648  0.891954  0.366199
40  0.791677  0.324005  0.722769  0.950241  0.685265
41  0.423456  0.103676  0.813160  0.169970   0.82223
42  0.286391  0.214459  0.932144  0.695233  0.389671
43  0.923514  0.538714  0.236869  0.260959  0.582035
44  0.502097  0.126114  0.004466  0.477787    0.7447
45  0.803356  0.462371  0.171612  0.620270   0.02851
46  0.916897  0.968299  0.824612  0.867304  0.155479
47  0.028039  0.470933  0.619162  0.275150  0.829988
48  0.871554  0.236969  0.430585  0.019878   0.67681
49  0.391715  0.919742  0.971520  0.413521  0.380101
50  0.380497  0.301964  0.861747  0.105521  0.989393
51  0.222328  0.673669  0.701141  0.063531   0.46971
52  0.998453  0.554935  0.987495  0.947412  0.448681
53  0.648423  0.200440  0.884195  0.358494  0.616125
54  0.751870  0.913416  0.655383  0.128972  0.024145

In [618]:
dataframe_ref = dataframe
dataframe_ref[0][0] = 1
dataframe # dataframe == dataframe_ref (it is a view)

           0         1         2         3         4
0          1  0.776035  0.716339  0.959637  0.088781
1   0.951351  0.023140  0.140988  0.408833  0.642317
2      0.329  0.796062  0.907257  0.636330  0.067406
3   0.670053  0.155553  0.472281  0.429144  0.489648
4   0.196213  0.944886  0.135891  0.962055  0.753262
5   0.249262  0.921216  0.245563  0.924737  0.504351
6   0.421743  0.709151  0.952861  0.623875  0.805409
7   0.578277  0.376179  0.905031  0.907510  0.052038
8   0.274156  0.050498  0.925438  0.308034  0.593946
9   0.536497  0.783395  0.630345  0.360718  0.796983
10  0.965474  0.750273  0.142564  0.229569  0.499030
11  0.959529  0.456501  0.208263  0.330282  0.792010
12  0.981598  0.927377  0.759148  0.128164  0.206271
13  0.649239  0.148720  0.217815  0.987090  0.692974
14  0.135534  0.809644  0.814381  0.682818  0.219015
15   0.41722  0.662360  0.449716  0.664306  0.872540
16  0.174636  0.703101  0.103202  0.765724  0.958389
17  0.075079  0.291644  0.043818  0.477701  0.223396
18  0.992062  0.872981  0.392560  0.946093  0.852908
19  0.806567  0.103426  0.929348  0.833413  0.146061
20  0.183585  0.152004  0.407528  0.902604  0.369166
21  0.259644  0.336543  0.719953  0.064871  0.838772
22  0.811526  0.556216  0.644011  0.179640  0.234866
23  0.341895  0.157574  0.719710  0.121018  0.040292
24  0.834356  0.464847  0.219516  0.405998  0.403962
25   0.09522  0.528859  0.675631  0.422851  0.655461
26  0.248182  0.081798  0.013389  0.532085  0.858371
27  0.117604  0.083155  0.936955  0.348587  0.347771
28  0.695759  0.873634  0.200476  0.488540  0.710139
29  0.086667  0.751273  0.425392  0.375060  0.634509
30  0.423422  0.773383  0.406293  0.520569  0.190350
31  0.942067  0.785639  0.957348  0.753487  0.887498
32  0.346362  0.638768  0.459193  0.934351  0.666867
33  0.400942  0.651214  0.763098  0.786006  0.218709
34  0.302358  0.597734  0.467455  0.250664  0.212964
35  0.237435  0.379551  0.065531  0.089136  0.982978
36  0.014854  0.876719  0.895236  0.507235  0.441160
37  0.766346  0.029441  0.520215  0.111581  0.879730
38  0.789907  0.900450  0.489775  0.275209  0.127129
39  0.366199  0.891954  0.965648  0.506348  0.785217
40  0.685265  0.950241  0.722769  0.324005  0.791677
41   0.82223  0.169970  0.813160  0.103676  0.423456
42  0.389671  0.695233  0.932144  0.214459  0.286391
43  0.582035  0.260959  0.236869  0.538714  0.923514
44    0.7447  0.477787  0.004466  0.126114  0.502097
45   0.02851  0.620270  0.171612  0.462371  0.803356
46  0.155479  0.867304  0.824612  0.968299  0.916897
47  0.829988  0.275150  0.619162  0.470933  0.028039
48   0.67681  0.019878  0.430585  0.236969  0.871554
49  0.380101  0.413521  0.971520  0.919742  0.391715
50  0.989393  0.105521  0.861747  0.301964  0.380497
51   0.46971  0.063531  0.701141  0.673669  0.222328
52  0.448681  0.947412  0.987495  0.554935  0.998453
53  0.616125  0.358494  0.884195  0.200440  0.648423
54  0.024145  0.128972  0.655383  0.913416  0.751870

In [619]:
dataframe_copy = dataframe.copy()
#set with loc we don't know if pandas will return copy or view
dataframe_copy[0][0] = 3
dataframe

C:\Users\kusha\AppData\Local\Temp\ipykernel_11204\1555593717.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe_copy[0][0] = 3

           0         1         2         3         4
0          1  0.776035  0.716339  0.959637  0.088781
1   0.951351  0.023140  0.140988  0.408833  0.642317
2      0.329  0.796062  0.907257  0.636330  0.067406
3   0.670053  0.155553  0.472281  0.429144  0.489648
4   0.196213  0.944886  0.135891  0.962055  0.753262
5   0.249262  0.921216  0.245563  0.924737  0.504351
6   0.421743  0.709151  0.952861  0.623875  0.805409
7   0.578277  0.376179  0.905031  0.907510  0.052038
8   0.274156  0.050498  0.925438  0.308034  0.593946
9   0.536497  0.783395  0.630345  0.360718  0.796983
10  0.965474  0.750273  0.142564  0.229569  0.499030
11  0.959529  0.456501  0.208263  0.330282  0.792010
12  0.981598  0.927377  0.759148  0.128164  0.206271
13  0.649239  0.148720  0.217815  0.987090  0.692974
14  0.135534  0.809644  0.814381  0.682818  0.219015
15   0.41722  0.662360  0.449716  0.664306  0.872540
16  0.174636  0.703101  0.103202  0.765724  0.958389
17  0.075079  0.291644  0.043818  0.477701  0.223396
18  0.992062  0.872981  0.392560  0.946093  0.852908
19  0.806567  0.103426  0.929348  0.833413  0.146061
20  0.183585  0.152004  0.407528  0.902604  0.369166
21  0.259644  0.336543  0.719953  0.064871  0.838772
22  0.811526  0.556216  0.644011  0.179640  0.234866
23  0.341895  0.157574  0.719710  0.121018  0.040292
24  0.834356  0.464847  0.219516  0.405998  0.403962
25   0.09522  0.528859  0.675631  0.422851  0.655461
26  0.248182  0.081798  0.013389  0.532085  0.858371
27  0.117604  0.083155  0.936955  0.348587  0.347771
28  0.695759  0.873634  0.200476  0.488540  0.710139
29  0.086667  0.751273  0.425392  0.375060  0.634509
30  0.423422  0.773383  0.406293  0.520569  0.190350
31  0.942067  0.785639  0.957348  0.753487  0.887498
32  0.346362  0.638768  0.459193  0.934351  0.666867
33  0.400942  0.651214  0.763098  0.786006  0.218709
34  0.302358  0.597734  0.467455  0.250664  0.212964
35  0.237435  0.379551  0.065531  0.089136  0.982978
36  0.014854  0.876719  0.895236  0.507235  0.441160
37  0.766346  0.029441  0.520215  0.111581  0.879730
38  0.789907  0.900450  0.489775  0.275209  0.127129
39  0.366199  0.891954  0.965648  0.506348  0.785217
40  0.685265  0.950241  0.722769  0.324005  0.791677
41   0.82223  0.169970  0.813160  0.103676  0.423456
42  0.389671  0.695233  0.932144  0.214459  0.286391
43  0.582035  0.260959  0.236869  0.538714  0.923514
44    0.7447  0.477787  0.004466  0.126114  0.502097
45   0.02851  0.620270  0.171612  0.462371  0.803356
46  0.155479  0.867304  0.824612  0.968299  0.916897
47  0.829988  0.275150  0.619162  0.470933  0.028039
48   0.67681  0.019878  0.430585  0.236969  0.871554
49  0.380101  0.413521  0.971520  0.919742  0.391715
50  0.989393  0.105521  0.861747  0.301964  0.380497
51   0.46971  0.063531  0.701141  0.673669  0.222328
52  0.448681  0.947412  0.987495  0.554935  0.998453
53  0.616125  0.358494  0.884195  0.200440  0.648423
54  0.024145  0.128972  0.655383  0.913416  0.751870

In [620]:
dataframe.columns = list("abcde")
dataframe.head(2)

          a         b         c         d         e
0         1  0.776035  0.716339  0.959637  0.088781
1  0.951351  0.023140  0.140988  0.408833  0.642317

In [621]:
dataframe.loc[0, 'a'] = 2
dataframe.loc['a', 0] = 2 # not same as above
dataframe.head(2)

          a         b         c         d         e   0
0         2  0.776035  0.716339  0.959637  0.088781 NaN
1  0.951351  0.023140  0.140988  0.408833  0.642317 NaN

In [622]:
dataframe = dataframe.drop(0, axis=1)
dataframe = dataframe.drop("a", axis=0)
dataframe.head()

          a         b         c         d         e
0         2  0.776035  0.716339  0.959637  0.088781
1  0.951351  0.023140  0.140988  0.408833  0.642317
2     0.329  0.796062  0.907257  0.636330  0.067406
3  0.670053  0.155553  0.472281  0.429144  0.489648
4  0.196213  0.944886  0.135891  0.962055  0.753262

In [623]:
dataframe.loc[[2,4], ['a', 'e']]

          a         e
2     0.329  0.067406
4  0.196213  0.753262

In [624]:
dataframe.loc[[1, 5], :]

          a         b         c         d         e
1  0.951351  0.023140  0.140988  0.408833  0.642317
5  0.249262  0.921216  0.245563  0.924737  0.504351

In [625]:
dataframe.loc[(dataframe['a'] < 0.3), ['a']]

           a
4   0.196213
5   0.249262
8   0.274156
14  0.135534
16  0.174636
17  0.075079
20  0.183585
21  0.259644
25   0.09522
26  0.248182
27  0.117604
29  0.086667
35  0.237435
36  0.014854
45   0.02851
46  0.155479
54  0.024145

In [626]:
dataframe.loc[(dataframe["a"] < 0.3) & (dataframe["c"] < 0.3), ["a", "c"]]

           a         c
4   0.196213  0.135891
5   0.249262  0.245563
16  0.174636  0.103202
17  0.075079  0.043818
26  0.248182  0.013389
35  0.237435  0.065531
45   0.02851  0.171612

In [627]:
dataframe.iloc[1, 2] # [1, 'c']

0.14098772983264485

In [628]:
dataframe.iloc[0:3:1, [1, 2]]

          b         c
0  0.776035  0.716339
1  0.023140  0.140988
2  0.796062  0.907257

In [629]:
# dataframe.drop([0], axis=0) # copy
# dataframe = dataframe.drop([0], axis=0) # will change original one
dataframe.drop([0], axis=0, inplace=True) # will change original one
dataframe.drop(['e', 'd'], axis=1, inplace=True) # will change original one
dataframe.head(3)

          a         b         c
1  0.951351  0.023140  0.140988
2     0.329  0.796062  0.907257
3  0.670053  0.155553  0.472281

In [630]:
dataframe.drop(index=[1,2,4,5], axis=0,inplace=True)
dataframe.head(3)

          a         b         c
3  0.670053  0.155553  0.472281
6  0.421743  0.709151  0.952861
7  0.578277  0.376179  0.905031

In [631]:
dataframe.reset_index(drop=True, inplace=True)
dataframe.head(3)

          a         b         c
0  0.670053  0.155553  0.472281
1  0.421743  0.709151  0.952861
2  0.578277  0.376179  0.905031

In [632]:
dataframe.loc[1, ['b']] = pd.NaT
dataframe.loc[4, ['c']] = pd.NaT
dataframe.loc[3, ['a']] = pd.NaT
dataframe.head()

          a         b         c
0  0.670053  0.155553  0.472281
1  0.421743       NaT  0.952861
2  0.578277  0.376179  0.905031
3       NaT  0.050498  0.925438
4  0.536497  0.783395       NaT

In [633]:
dataframe['b'].isnull()

0     False
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
Name: b, dtype: bool

In [634]:
dataframe.dropna(inplace=True)
dataframe.reset_index(drop=True, inplace=True)
dataframe.head()

          a         b         c
0  0.670053  0.155553  0.472281
1  0.578277  0.376179  0.905031
2  0.965474  0.750273  0.142564
3  0.959529  0.456501  0.208263
4  0.981598  0.927377  0.759148

In [635]:
dataframe.loc[:, 'b'] = pd.NaT

C:\Users\kusha\AppData\Local\Temp\ipykernel_11204\2197067508.py:1: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dataframe.loc[:, 'b'] = pd.NaT

In [636]:
dataframe.dropna(how="any", axis=1, inplace=True)
dataframe.head()

          a         c
0  0.670053  0.472281
1  0.578277  0.905031
2  0.965474  0.142564
3  0.959529  0.208263
4  0.981598  0.759148