In [226]:
import pandas as pd
import numpy as np

In [227]:
map = {
    "name": ["friendA", "friendB", "friendC", "friendD"],
    "marks": [100, 99, 33, 10],
    "city": ["hyderabad", "pune", "vijaywada", "un"]
}

In [228]:
df = pd.DataFrame(map)
df

      name  marks       city
0  friendA    100  hyderabad
1  friendB     99       pune
2  friendC     33  vijaywada
3  friendD     10         un

In [229]:
df.to_csv('test.csv', index=False)

In [230]:
df.head(1)

      name  marks       city
0  friendA    100  hyderabad

In [231]:
df.tail(1)

      name  marks city
3  friendD     10   un

In [232]:
df.describe()

            marks
count    4.000000
mean    60.500000
std     46.003623
min     10.000000
25%     27.250000
50%     66.000000
75%     99.250000
max    100.000000

In [233]:
df = pd.read_csv('trains.csv')
df

   Train No  Speed       City
0     82398     70      delhi
1     72391     50     mumbai
2     61280    100  hyderabad
3     19842     80    kolkata

In [234]:
df.Speed

0     70
1     50
2    100
3     80
Name: Speed, dtype: int64

In [235]:
# df['Speed'][0] = 65
df.loc[0, 'Speed'] = 65
df

   Train No  Speed       City
0     82398     65      delhi
1     72391     50     mumbai
2     61280    100  hyderabad
3     19842     80    kolkata

In [236]:
df.index = [1,2,3,4]

In [237]:
df

   Train No  Speed       City
1     82398     65      delhi
2     72391     50     mumbai
3     61280    100  hyderabad
4     19842     80    kolkata

In [238]:
print(type(df))
print(type(df['Speed']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [239]:
series = pd.Series(np.random.rand(5))
series

0    0.808920
1    0.077368
2    0.481633
3    0.795825
4    0.113086
dtype: float64

In [240]:
dataframe = pd.DataFrame(np.random.rand(55,5), index=np.arange(55))
dataframe

           0         1         2         3         4
0   0.652859  0.720989  0.124242  0.642063  0.940074
1   0.483006  0.589122  0.654325  0.363962  0.753092
2   0.720020  0.577157  0.223874  0.477184  0.683231
3   0.590504  0.434533  0.593924  0.012152  0.383170
4   0.733457  0.035990  0.173166  0.737499  0.613149
5   0.081717  0.236907  0.983083  0.238159  0.847862
6   0.133782  0.728270  0.330175  0.520828  0.337649
7   0.588086  0.307331  0.220571  0.582053  0.564636
8   0.944887  0.328058  0.701976  0.927312  0.700869
9   0.907539  0.300457  0.558324  0.919948  0.598019
10  0.886351  0.255209  0.627702  0.314753  0.793965
11  0.273668  0.022720  0.266321  0.103409  0.632391
12  0.654537  0.273837  0.782548  0.338324  0.038809
13  0.802776  0.229222  0.501084  0.478035  0.730703
14  0.707270  0.628355  0.788226  0.352241  0.864637
15  0.870054  0.985718  0.891984  0.119991  0.159331
16  0.710806  0.766891  0.427085  0.553435  0.994792
17  0.977539  0.965584  0.636963  0.763958  0.000885
18  0.546180  0.068922  0.554588  0.746295  0.264083
19  0.438617  0.466134  0.759827  0.651982  0.753532
20  0.398854  0.864630  0.850311  0.304090  0.194802
21  0.651366  0.895859  0.531680  0.912762  0.107597
22  0.742077  0.185294  0.511170  0.048146  0.492713
23  0.494148  0.375961  0.473067  0.512885  0.038177
24  0.238301  0.692565  0.761880  0.345181  0.957727
25  0.220841  0.485342  0.314878  0.887860  0.290837
26  0.404692  0.615849  0.088136  0.282796  0.718953
27  0.089848  0.825121  0.070958  0.056179  0.565132
28  0.658532  0.064718  0.246361  0.535701  0.141465
29  0.264540  0.269652  0.531910  0.422562  0.486236
30  0.407143  0.773745  0.184966  0.011075  0.356091
31  0.348921  0.914063  0.937341  0.705982  0.193825
32  0.444379  0.319958  0.748872  0.621394  0.984577
33  0.167905  0.470231  0.679083  0.827397  0.500290
34  0.938055  0.853227  0.465492  0.506945  0.634611
35  0.691902  0.271451  0.125337  0.233028  0.148153
36  0.950660  0.607587  0.831888  0.115383  0.200018
37  0.878232  0.722084  0.007630  0.406914  0.745901
38  0.471029  0.760729  0.249279  0.268580  0.353716
39  0.987488  0.673375  0.014597  0.778339  0.179223
40  0.448042  0.674181  0.830715  0.808774  0.358139
41  0.314200  0.240824  0.881914  0.146061  0.386593
42  0.269446  0.877502  0.910492  0.381816  0.426222
43  0.567867  0.136036  0.520243  0.229073  0.685061
44  0.181292  0.886685  0.844267  0.230904  0.128449
45  0.830824  0.279511  0.218177  0.003191  0.519819
46  0.176746  0.929690  0.334953  0.575968  0.573489
47  0.983922  0.993484  0.453239  0.200902  0.087205
48  0.812337  0.062205  0.042477  0.350551  0.635845
49  0.561911  0.561162  0.299581  0.860993  0.174408
50  0.338839  0.308868  0.463578  0.345123  0.589947
51  0.513581  0.810444  0.798812  0.218907  0.978825
52  0.431312  0.468910  0.085788  0.673062  0.877873
53  0.722789  0.313991  0.583335  0.185365  0.170412
54  0.675926  0.160071  0.670053  0.723795  0.614448

In [241]:
dataframe.describe()

               0          1          2          3          4
count  55.000000  55.000000  55.000000  55.000000  55.000000
mean    0.563302   0.513935   0.497499   0.446568   0.493666
std     0.261099   0.289825   0.280402   0.269100   0.286215
min     0.081717   0.022720   0.007630   0.003191   0.000885
25%     0.373888   0.272644   0.247820   0.231966   0.197410
50%     0.567867   0.485342   0.520243   0.406914   0.519819
75%     0.737767   0.763810   0.754350   0.662522   0.709911
max     0.987488   0.993484   0.983083   0.927312   0.994792

In [242]:
dataframe.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [243]:
dataframe[0][0] = "nums"

In [244]:
dataframe.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [245]:
dataframe

           0         1         2         3         4
0       nums  0.720989  0.124242  0.642063  0.940074
1   0.483006  0.589122  0.654325  0.363962  0.753092
2    0.72002  0.577157  0.223874  0.477184  0.683231
3   0.590504  0.434533  0.593924  0.012152  0.383170
4   0.733457  0.035990  0.173166  0.737499  0.613149
5   0.081717  0.236907  0.983083  0.238159  0.847862
6   0.133782  0.728270  0.330175  0.520828  0.337649
7   0.588086  0.307331  0.220571  0.582053  0.564636
8   0.944887  0.328058  0.701976  0.927312  0.700869
9   0.907539  0.300457  0.558324  0.919948  0.598019
10  0.886351  0.255209  0.627702  0.314753  0.793965
11  0.273668  0.022720  0.266321  0.103409  0.632391
12  0.654537  0.273837  0.782548  0.338324  0.038809
13  0.802776  0.229222  0.501084  0.478035  0.730703
14   0.70727  0.628355  0.788226  0.352241  0.864637
15  0.870054  0.985718  0.891984  0.119991  0.159331
16  0.710806  0.766891  0.427085  0.553435  0.994792
17  0.977539  0.965584  0.636963  0.763958  0.000885
18   0.54618  0.068922  0.554588  0.746295  0.264083
19  0.438617  0.466134  0.759827  0.651982  0.753532
20  0.398854  0.864630  0.850311  0.304090  0.194802
21  0.651366  0.895859  0.531680  0.912762  0.107597
22  0.742077  0.185294  0.511170  0.048146  0.492713
23  0.494148  0.375961  0.473067  0.512885  0.038177
24  0.238301  0.692565  0.761880  0.345181  0.957727
25  0.220841  0.485342  0.314878  0.887860  0.290837
26  0.404692  0.615849  0.088136  0.282796  0.718953
27  0.089848  0.825121  0.070958  0.056179  0.565132
28  0.658532  0.064718  0.246361  0.535701  0.141465
29   0.26454  0.269652  0.531910  0.422562  0.486236
30  0.407143  0.773745  0.184966  0.011075  0.356091
31  0.348921  0.914063  0.937341  0.705982  0.193825
32  0.444379  0.319958  0.748872  0.621394  0.984577
33  0.167905  0.470231  0.679083  0.827397  0.500290
34  0.938055  0.853227  0.465492  0.506945  0.634611
35  0.691902  0.271451  0.125337  0.233028  0.148153
36   0.95066  0.607587  0.831888  0.115383  0.200018
37  0.878232  0.722084  0.007630  0.406914  0.745901
38  0.471029  0.760729  0.249279  0.268580  0.353716
39  0.987488  0.673375  0.014597  0.778339  0.179223
40  0.448042  0.674181  0.830715  0.808774  0.358139
41    0.3142  0.240824  0.881914  0.146061  0.386593
42  0.269446  0.877502  0.910492  0.381816  0.426222
43  0.567867  0.136036  0.520243  0.229073  0.685061
44  0.181292  0.886685  0.844267  0.230904  0.128449
45  0.830824  0.279511  0.218177  0.003191  0.519819
46  0.176746  0.929690  0.334953  0.575968  0.573489
47  0.983922  0.993484  0.453239  0.200902  0.087205
48  0.812337  0.062205  0.042477  0.350551  0.635845
49  0.561911  0.561162  0.299581  0.860993  0.174408
50  0.338839  0.308868  0.463578  0.345123  0.589947
51  0.513581  0.810444  0.798812  0.218907  0.978825
52  0.431312  0.468910  0.085788  0.673062  0.877873
53  0.722789  0.313991  0.583335  0.185365  0.170412
54  0.675926  0.160071  0.670053  0.723795  0.614448

In [246]:
dataframe.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54],
           dtype='int64')

In [247]:
dataframe.columns

RangeIndex(start=0, stop=5, step=1)

In [248]:
dataframe[0][0] = 3

In [249]:
dataframe.to_numpy()

array([[3, 0.7209886010689063, 0.12424157635089528, 0.6420625272530018,
        0.9400744628632204],
       [0.4830064150879074, 0.5891218281795804, 0.6543246416441931,
        0.3639619157695505, 0.7530919796814944],
       [0.7200195923560486, 0.577157272421724, 0.22387362663188204,
        0.4771837084491991, 0.6832308387108161],
       [0.590504398671951, 0.4345329323456313, 0.5939244657615321,
        0.012152476662500744, 0.3831697178409528],
       [0.7334568193222235, 0.03599042964828714, 0.17316551107903322,
        0.7374994775696042, 0.6131493717363167],
       [0.08171710408635335, 0.23690724585922296, 0.9830831660535656,
        0.2381590551645072, 0.8478621591371548],
       [0.13378164851845453, 0.7282695696764144, 0.33017507881387953,
        0.5208276256721294, 0.3376486214041249],
       [0.5880863423300451, 0.30733071732704587, 0.22057107734726022,
        0.5820529203618942, 0.5646355595055901],
       [0.9448870823608408, 0.3280580870599298, 0.7019762543582375,
        0.9273115015416576, 0.7008694089721861],
       [0.9075388251606628, 0.3004574119838578, 0.5583236188137399,
        0.9199479806479293, 0.5980187624593613],
       [0.8863505812787204, 0.2552094852652472, 0.627702261516359,
        0.31475277528516465, 0.793964956986902],
       [0.27366799163363553, 0.02271952892365181, 0.26632119750206573,
        0.10340869809095987, 0.6323909353810842],
       [0.6545368389378298, 0.2738373492134384, 0.7825475887844434,
        0.33832368174479177, 0.03880904473186797],
       [0.8027759887778612, 0.2292222017472737, 0.5010841888274911,
        0.4780349596239476, 0.7307034139003664],
       [0.7072700064285057, 0.628355458614468, 0.788225620274223,
        0.35224066502886486, 0.8646371303519689],
       [0.8700535713137346, 0.9857181713817029, 0.8919843542188998,
        0.11999144758184588, 0.15933061594802034],
       [0.7108063050079296, 0.7668907850374256, 0.427085497178432,
        0.5534349258728927, 0.9947923817998441],
       [0.9775385635526072, 0.9655840822720613, 0.6369634692934132,
        0.7639576213450779, 0.0008849138809627899],
       [0.5461797232805556, 0.06892183942822783, 0.5545875243222268,
        0.7462952831998806, 0.2640825908384601],
       [0.4386171026227903, 0.4661339684964738, 0.759827455294937,
        0.6519818181395336, 0.7535321135542962],
       [0.3988542153506819, 0.8646302589354987, 0.8503111621135556,
        0.30408983404857937, 0.1948021433260101],
       [0.6513663077195184, 0.8958586238119309, 0.5316795383871907,
        0.9127620559585318, 0.10759722008427675],
       [0.7420769206390824, 0.18529366374094225, 0.5111700991871231,
        0.04814552516109505, 0.492713250083202],
       [0.49414848768138797, 0.37596105532186197, 0.47306659822959474,
        0.5128846921764045, 0.03817718140417603],
       [0.23830068379012348, 0.6925650013774122, 0.761880328868991,
        0.3451808872378477, 0.9577271735201343],
       [0.2208410626036862, 0.4853421566515962, 0.3148784931222083,
        0.8878604606958568, 0.2908373676280104],
       [0.4046923626395539, 0.6158489941299944, 0.08813604540833764,
        0.28279568960342627, 0.7189527330445398],
       [0.08984762396405443, 0.8251206141866257, 0.0709583207943616,
        0.056178560280834566, 0.5651316892943176],
       [0.6585317473543344, 0.06471754884034198, 0.24636074017207477,
        0.535700508086843, 0.14146450509914188],
       [0.26453998775644816, 0.26965209006771906, 0.5319099184124415,
        0.42256223590239506, 0.4862357397535818],
       [0.40714343603083014, 0.7737454010165101, 0.1849658303348306,
        0.0110748029778025, 0.35609129963782316],
       [0.34892121928264486, 0.9140634459550204, 0.9373410810442291,
        0.7059821138233824, 0.19382523456612155],
       [0.44437855744977295, 0.319958088669159, 0.7488723700978797,
        0.6213944284219258, 0.9845769631990491],
       [0.16790540515612495, 0.47023098748591974, 0.6790828322507743,
        0.827396738451686, 0.5002903248310128],
       [0.9380546175026159, 0.8532266471970563, 0.4654919015136435,
        0.5069448872468696, 0.6346108868450592],
       [0.6919020969134547, 0.27145093865675995, 0.12533668005054266,
        0.23302825268726834, 0.1481529509490308],
       [0.9506603218112095, 0.6075874211361382, 0.831888430783737,
        0.11538345241234904, 0.2000178768080243],
       [0.8782324801086531, 0.7220842179550213, 0.007629750895311704,
        0.406913811419505, 0.7459006646434829],
       [0.47102865813806405, 0.7607288239323231, 0.2492793264968829,
        0.26858005703967847, 0.3537159257762158],
       [0.9874878733266839, 0.6733749157544877, 0.014596654949474486,
        0.778338877518181, 0.17922348287985657],
       [0.44804197780932875, 0.6741805798765029, 0.8307150447554906,
        0.8087743276676713, 0.3581387297485489],
       [0.3141995984772671, 0.24082390761032035, 0.8819141996322929,
        0.14606134411871752, 0.386592541854773],
       [0.26944567649348683, 0.8775021931086535, 0.9104922089404108,
        0.3818162216068255, 0.4262216647875885],
       [0.5678668006521789, 0.13603576580114007, 0.5202427989682171,
        0.2290733122235481, 0.685061492312698],
       [0.18129151265270937, 0.8866847466855088, 0.8442673528673696,
        0.23090428408386354, 0.12844923946377318],
       [0.8308241372232664, 0.27951062536624505, 0.21817703529981436,
        0.0031914391622173133, 0.5198188424250832],
       [0.17674641528655743, 0.9296902960331517, 0.334952870828654,
        0.575968039752487, 0.5734885247715484],
       [0.983922132114641, 0.9934838840310155, 0.4532388319955024,
        0.20090167692049243, 0.0872046900510356],
       [0.8123374855434327, 0.062205004995050106, 0.042477452654652414,
        0.350550818274856, 0.6358449698841124],
       [0.5619110080400281, 0.5611618947447803, 0.29958116832398396,
        0.8609930895893624, 0.17440782427294566],
       [0.3388385002837677, 0.3088678751882381, 0.46357842211073785,
        0.3451227511120851, 0.5899467014998881],
       [0.5135809766020826, 0.8104439643098019, 0.7988122606782254,
        0.21890658341942815, 0.9788245896150284],
       [0.4313118610527813, 0.4689101279720086, 0.08578751161223963,
        0.6730624856584178, 0.8778728218265118],
       [0.722789094003494, 0.3139907866370303, 0.5833345534598763,
        0.18536540839231364, 0.17041245021076634],
       [0.675926151014135, 0.1600705931045242, 0.6700525217098152,
        0.723795349362327, 0.6144483402068868]], dtype=object)

In [250]:
dataframe.T

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,3,0.483006,0.72002,0.590504,0.733457,0.081717,0.133782,0.588086,0.944887,0.907539,...,0.830824,0.176746,0.983922,0.812337,0.561911,0.338839,0.513581,0.431312,0.722789,0.675926
1,0.720989,0.589122,0.577157,0.434533,0.03599,0.236907,0.72827,0.307331,0.328058,0.300457,...,0.279511,0.92969,0.993484,0.062205,0.561162,0.308868,0.810444,0.46891,0.313991,0.160071
2,0.124242,0.654325,0.223874,0.593924,0.173166,0.983083,0.330175,0.220571,0.701976,0.558324,...,0.218177,0.334953,0.453239,0.042477,0.299581,0.463578,0.798812,0.085788,0.583335,0.670053
3,0.642063,0.363962,0.477184,0.012152,0.737499,0.238159,0.520828,0.582053,0.927312,0.919948,...,0.003191,0.575968,0.200902,0.350551,0.860993,0.345123,0.218907,0.673062,0.185365,0.723795
4,0.940074,0.753092,0.683231,0.38317,0.613149,0.847862,0.337649,0.564636,0.700869,0.598019,...,0.519819,0.573489,0.087205,0.635845,0.174408,0.589947,0.978825,0.877873,0.170412,0.614448

In [251]:
dataframe.sort_index(axis=0, ascending=False)

           0         1         2         3         4
54  0.675926  0.160071  0.670053  0.723795  0.614448
53  0.722789  0.313991  0.583335  0.185365  0.170412
52  0.431312  0.468910  0.085788  0.673062  0.877873
51  0.513581  0.810444  0.798812  0.218907  0.978825
50  0.338839  0.308868  0.463578  0.345123  0.589947
49  0.561911  0.561162  0.299581  0.860993  0.174408
48  0.812337  0.062205  0.042477  0.350551  0.635845
47  0.983922  0.993484  0.453239  0.200902  0.087205
46  0.176746  0.929690  0.334953  0.575968  0.573489
45  0.830824  0.279511  0.218177  0.003191  0.519819
44  0.181292  0.886685  0.844267  0.230904  0.128449
43  0.567867  0.136036  0.520243  0.229073  0.685061
42  0.269446  0.877502  0.910492  0.381816  0.426222
41    0.3142  0.240824  0.881914  0.146061  0.386593
40  0.448042  0.674181  0.830715  0.808774  0.358139
39  0.987488  0.673375  0.014597  0.778339  0.179223
38  0.471029  0.760729  0.249279  0.268580  0.353716
37  0.878232  0.722084  0.007630  0.406914  0.745901
36   0.95066  0.607587  0.831888  0.115383  0.200018
35  0.691902  0.271451  0.125337  0.233028  0.148153
34  0.938055  0.853227  0.465492  0.506945  0.634611
33  0.167905  0.470231  0.679083  0.827397  0.500290
32  0.444379  0.319958  0.748872  0.621394  0.984577
31  0.348921  0.914063  0.937341  0.705982  0.193825
30  0.407143  0.773745  0.184966  0.011075  0.356091
29   0.26454  0.269652  0.531910  0.422562  0.486236
28  0.658532  0.064718  0.246361  0.535701  0.141465
27  0.089848  0.825121  0.070958  0.056179  0.565132
26  0.404692  0.615849  0.088136  0.282796  0.718953
25  0.220841  0.485342  0.314878  0.887860  0.290837
24  0.238301  0.692565  0.761880  0.345181  0.957727
23  0.494148  0.375961  0.473067  0.512885  0.038177
22  0.742077  0.185294  0.511170  0.048146  0.492713
21  0.651366  0.895859  0.531680  0.912762  0.107597
20  0.398854  0.864630  0.850311  0.304090  0.194802
19  0.438617  0.466134  0.759827  0.651982  0.753532
18   0.54618  0.068922  0.554588  0.746295  0.264083
17  0.977539  0.965584  0.636963  0.763958  0.000885
16  0.710806  0.766891  0.427085  0.553435  0.994792
15  0.870054  0.985718  0.891984  0.119991  0.159331
14   0.70727  0.628355  0.788226  0.352241  0.864637
13  0.802776  0.229222  0.501084  0.478035  0.730703
12  0.654537  0.273837  0.782548  0.338324  0.038809
11  0.273668  0.022720  0.266321  0.103409  0.632391
10  0.886351  0.255209  0.627702  0.314753  0.793965
9   0.907539  0.300457  0.558324  0.919948  0.598019
8   0.944887  0.328058  0.701976  0.927312  0.700869
7   0.588086  0.307331  0.220571  0.582053  0.564636
6   0.133782  0.728270  0.330175  0.520828  0.337649
5   0.081717  0.236907  0.983083  0.238159  0.847862
4   0.733457  0.035990  0.173166  0.737499  0.613149
3   0.590504  0.434533  0.593924  0.012152  0.383170
2    0.72002  0.577157  0.223874  0.477184  0.683231
1   0.483006  0.589122  0.654325  0.363962  0.753092
0          3  0.720989  0.124242  0.642063  0.940074

In [252]:
dataframe.sort_index(axis=1, ascending=False)

           4         3         2         1         0
0   0.940074  0.642063  0.124242  0.720989         3
1   0.753092  0.363962  0.654325  0.589122  0.483006
2   0.683231  0.477184  0.223874  0.577157   0.72002
3   0.383170  0.012152  0.593924  0.434533  0.590504
4   0.613149  0.737499  0.173166  0.035990  0.733457
5   0.847862  0.238159  0.983083  0.236907  0.081717
6   0.337649  0.520828  0.330175  0.728270  0.133782
7   0.564636  0.582053  0.220571  0.307331  0.588086
8   0.700869  0.927312  0.701976  0.328058  0.944887
9   0.598019  0.919948  0.558324  0.300457  0.907539
10  0.793965  0.314753  0.627702  0.255209  0.886351
11  0.632391  0.103409  0.266321  0.022720  0.273668
12  0.038809  0.338324  0.782548  0.273837  0.654537
13  0.730703  0.478035  0.501084  0.229222  0.802776
14  0.864637  0.352241  0.788226  0.628355   0.70727
15  0.159331  0.119991  0.891984  0.985718  0.870054
16  0.994792  0.553435  0.427085  0.766891  0.710806
17  0.000885  0.763958  0.636963  0.965584  0.977539
18  0.264083  0.746295  0.554588  0.068922   0.54618
19  0.753532  0.651982  0.759827  0.466134  0.438617
20  0.194802  0.304090  0.850311  0.864630  0.398854
21  0.107597  0.912762  0.531680  0.895859  0.651366
22  0.492713  0.048146  0.511170  0.185294  0.742077
23  0.038177  0.512885  0.473067  0.375961  0.494148
24  0.957727  0.345181  0.761880  0.692565  0.238301
25  0.290837  0.887860  0.314878  0.485342  0.220841
26  0.718953  0.282796  0.088136  0.615849  0.404692
27  0.565132  0.056179  0.070958  0.825121  0.089848
28  0.141465  0.535701  0.246361  0.064718  0.658532
29  0.486236  0.422562  0.531910  0.269652   0.26454
30  0.356091  0.011075  0.184966  0.773745  0.407143
31  0.193825  0.705982  0.937341  0.914063  0.348921
32  0.984577  0.621394  0.748872  0.319958  0.444379
33  0.500290  0.827397  0.679083  0.470231  0.167905
34  0.634611  0.506945  0.465492  0.853227  0.938055
35  0.148153  0.233028  0.125337  0.271451  0.691902
36  0.200018  0.115383  0.831888  0.607587   0.95066
37  0.745901  0.406914  0.007630  0.722084  0.878232
38  0.353716  0.268580  0.249279  0.760729  0.471029
39  0.179223  0.778339  0.014597  0.673375  0.987488
40  0.358139  0.808774  0.830715  0.674181  0.448042
41  0.386593  0.146061  0.881914  0.240824    0.3142
42  0.426222  0.381816  0.910492  0.877502  0.269446
43  0.685061  0.229073  0.520243  0.136036  0.567867
44  0.128449  0.230904  0.844267  0.886685  0.181292
45  0.519819  0.003191  0.218177  0.279511  0.830824
46  0.573489  0.575968  0.334953  0.929690  0.176746
47  0.087205  0.200902  0.453239  0.993484  0.983922
48  0.635845  0.350551  0.042477  0.062205  0.812337
49  0.174408  0.860993  0.299581  0.561162  0.561911
50  0.589947  0.345123  0.463578  0.308868  0.338839
51  0.978825  0.218907  0.798812  0.810444  0.513581
52  0.877873  0.673062  0.085788  0.468910  0.431312
53  0.170412  0.185365  0.583335  0.313991  0.722789
54  0.614448  0.723795  0.670053  0.160071  0.675926

In [253]:
dataframe_ref = dataframe
dataframe_ref[0][0] = 1
dataframe # dataframe == dataframe_ref (it is a view)

           0         1         2         3         4
0          1  0.720989  0.124242  0.642063  0.940074
1   0.483006  0.589122  0.654325  0.363962  0.753092
2    0.72002  0.577157  0.223874  0.477184  0.683231
3   0.590504  0.434533  0.593924  0.012152  0.383170
4   0.733457  0.035990  0.173166  0.737499  0.613149
5   0.081717  0.236907  0.983083  0.238159  0.847862
6   0.133782  0.728270  0.330175  0.520828  0.337649
7   0.588086  0.307331  0.220571  0.582053  0.564636
8   0.944887  0.328058  0.701976  0.927312  0.700869
9   0.907539  0.300457  0.558324  0.919948  0.598019
10  0.886351  0.255209  0.627702  0.314753  0.793965
11  0.273668  0.022720  0.266321  0.103409  0.632391
12  0.654537  0.273837  0.782548  0.338324  0.038809
13  0.802776  0.229222  0.501084  0.478035  0.730703
14   0.70727  0.628355  0.788226  0.352241  0.864637
15  0.870054  0.985718  0.891984  0.119991  0.159331
16  0.710806  0.766891  0.427085  0.553435  0.994792
17  0.977539  0.965584  0.636963  0.763958  0.000885
18   0.54618  0.068922  0.554588  0.746295  0.264083
19  0.438617  0.466134  0.759827  0.651982  0.753532
20  0.398854  0.864630  0.850311  0.304090  0.194802
21  0.651366  0.895859  0.531680  0.912762  0.107597
22  0.742077  0.185294  0.511170  0.048146  0.492713
23  0.494148  0.375961  0.473067  0.512885  0.038177
24  0.238301  0.692565  0.761880  0.345181  0.957727
25  0.220841  0.485342  0.314878  0.887860  0.290837
26  0.404692  0.615849  0.088136  0.282796  0.718953
27  0.089848  0.825121  0.070958  0.056179  0.565132
28  0.658532  0.064718  0.246361  0.535701  0.141465
29   0.26454  0.269652  0.531910  0.422562  0.486236
30  0.407143  0.773745  0.184966  0.011075  0.356091
31  0.348921  0.914063  0.937341  0.705982  0.193825
32  0.444379  0.319958  0.748872  0.621394  0.984577
33  0.167905  0.470231  0.679083  0.827397  0.500290
34  0.938055  0.853227  0.465492  0.506945  0.634611
35  0.691902  0.271451  0.125337  0.233028  0.148153
36   0.95066  0.607587  0.831888  0.115383  0.200018
37  0.878232  0.722084  0.007630  0.406914  0.745901
38  0.471029  0.760729  0.249279  0.268580  0.353716
39  0.987488  0.673375  0.014597  0.778339  0.179223
40  0.448042  0.674181  0.830715  0.808774  0.358139
41    0.3142  0.240824  0.881914  0.146061  0.386593
42  0.269446  0.877502  0.910492  0.381816  0.426222
43  0.567867  0.136036  0.520243  0.229073  0.685061
44  0.181292  0.886685  0.844267  0.230904  0.128449
45  0.830824  0.279511  0.218177  0.003191  0.519819
46  0.176746  0.929690  0.334953  0.575968  0.573489
47  0.983922  0.993484  0.453239  0.200902  0.087205
48  0.812337  0.062205  0.042477  0.350551  0.635845
49  0.561911  0.561162  0.299581  0.860993  0.174408
50  0.338839  0.308868  0.463578  0.345123  0.589947
51  0.513581  0.810444  0.798812  0.218907  0.978825
52  0.431312  0.468910  0.085788  0.673062  0.877873
53  0.722789  0.313991  0.583335  0.185365  0.170412
54  0.675926  0.160071  0.670053  0.723795  0.614448

In [254]:
dataframe_copy = dataframe.copy()
#set with loc we don't know if pandas will return copy or view
dataframe_copy[0][0] = 3
dataframe

C:\Users\kusha\AppData\Local\Temp\ipykernel_13900\1555593717.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe_copy[0][0] = 3

           0         1         2         3         4
0          1  0.720989  0.124242  0.642063  0.940074
1   0.483006  0.589122  0.654325  0.363962  0.753092
2    0.72002  0.577157  0.223874  0.477184  0.683231
3   0.590504  0.434533  0.593924  0.012152  0.383170
4   0.733457  0.035990  0.173166  0.737499  0.613149
5   0.081717  0.236907  0.983083  0.238159  0.847862
6   0.133782  0.728270  0.330175  0.520828  0.337649
7   0.588086  0.307331  0.220571  0.582053  0.564636
8   0.944887  0.328058  0.701976  0.927312  0.700869
9   0.907539  0.300457  0.558324  0.919948  0.598019
10  0.886351  0.255209  0.627702  0.314753  0.793965
11  0.273668  0.022720  0.266321  0.103409  0.632391
12  0.654537  0.273837  0.782548  0.338324  0.038809
13  0.802776  0.229222  0.501084  0.478035  0.730703
14   0.70727  0.628355  0.788226  0.352241  0.864637
15  0.870054  0.985718  0.891984  0.119991  0.159331
16  0.710806  0.766891  0.427085  0.553435  0.994792
17  0.977539  0.965584  0.636963  0.763958  0.000885
18   0.54618  0.068922  0.554588  0.746295  0.264083
19  0.438617  0.466134  0.759827  0.651982  0.753532
20  0.398854  0.864630  0.850311  0.304090  0.194802
21  0.651366  0.895859  0.531680  0.912762  0.107597
22  0.742077  0.185294  0.511170  0.048146  0.492713
23  0.494148  0.375961  0.473067  0.512885  0.038177
24  0.238301  0.692565  0.761880  0.345181  0.957727
25  0.220841  0.485342  0.314878  0.887860  0.290837
26  0.404692  0.615849  0.088136  0.282796  0.718953
27  0.089848  0.825121  0.070958  0.056179  0.565132
28  0.658532  0.064718  0.246361  0.535701  0.141465
29   0.26454  0.269652  0.531910  0.422562  0.486236
30  0.407143  0.773745  0.184966  0.011075  0.356091
31  0.348921  0.914063  0.937341  0.705982  0.193825
32  0.444379  0.319958  0.748872  0.621394  0.984577
33  0.167905  0.470231  0.679083  0.827397  0.500290
34  0.938055  0.853227  0.465492  0.506945  0.634611
35  0.691902  0.271451  0.125337  0.233028  0.148153
36   0.95066  0.607587  0.831888  0.115383  0.200018
37  0.878232  0.722084  0.007630  0.406914  0.745901
38  0.471029  0.760729  0.249279  0.268580  0.353716
39  0.987488  0.673375  0.014597  0.778339  0.179223
40  0.448042  0.674181  0.830715  0.808774  0.358139
41    0.3142  0.240824  0.881914  0.146061  0.386593
42  0.269446  0.877502  0.910492  0.381816  0.426222
43  0.567867  0.136036  0.520243  0.229073  0.685061
44  0.181292  0.886685  0.844267  0.230904  0.128449
45  0.830824  0.279511  0.218177  0.003191  0.519819
46  0.176746  0.929690  0.334953  0.575968  0.573489
47  0.983922  0.993484  0.453239  0.200902  0.087205
48  0.812337  0.062205  0.042477  0.350551  0.635845
49  0.561911  0.561162  0.299581  0.860993  0.174408
50  0.338839  0.308868  0.463578  0.345123  0.589947
51  0.513581  0.810444  0.798812  0.218907  0.978825
52  0.431312  0.468910  0.085788  0.673062  0.877873
53  0.722789  0.313991  0.583335  0.185365  0.170412
54  0.675926  0.160071  0.670053  0.723795  0.614448

In [255]:
dataframe.columns = list("abcde")
dataframe.head(2)

          a         b         c         d         e
0         1  0.720989  0.124242  0.642063  0.940074
1  0.483006  0.589122  0.654325  0.363962  0.753092

In [256]:
dataframe.loc[0, 'a'] = 2
dataframe.loc['a', 0] = 2 # not same as above
dataframe.head(2)

          a         b         c         d         e   0
0         2  0.720989  0.124242  0.642063  0.940074 NaN
1  0.483006  0.589122  0.654325  0.363962  0.753092 NaN

In [257]:
dataframe = dataframe.drop(0, axis=1)
dataframe = dataframe.drop("a", axis=0)
dataframe.head()

          a         b         c         d         e
0         2  0.720989  0.124242  0.642063  0.940074
1  0.483006  0.589122  0.654325  0.363962  0.753092
2   0.72002  0.577157  0.223874  0.477184  0.683231
3  0.590504  0.434533  0.593924  0.012152  0.383170
4  0.733457  0.035990  0.173166  0.737499  0.613149

In [258]:
dataframe.loc[[2,4], ['a', 'e']]

          a         e
2   0.72002  0.683231
4  0.733457  0.613149

In [259]:
dataframe.loc[[1, 5], :]

          a         b         c         d         e
1  0.483006  0.589122  0.654325  0.363962  0.753092
5  0.081717  0.236907  0.983083  0.238159  0.847862

In [260]:
dataframe.loc[(dataframe['a'] < 0.3), ['a']]

           a
5   0.081717
6   0.133782
11  0.273668
24  0.238301
25  0.220841
27  0.089848
29   0.26454
33  0.167905
42  0.269446
44  0.181292
46  0.176746

In [261]:
dataframe.loc[(dataframe["a"] < 0.3) & (dataframe["c"] < 0.3), ["a", "c"]]

           a         c
11  0.273668  0.266321
27  0.089848  0.070958