In [113]:
import pandas as pd
import numpy as np

In [114]:
map = {
    "name": ["friendA", "friendB", "friendC", "friendD"],
    "marks": [100, 99, 33, 10],
    "city": ["hyderabad", "pune", "vijaywada", "un"]
}

In [115]:
df = pd.DataFrame(map)

In [116]:
df

      name  marks       city
0  friendA    100  hyderabad
1  friendB     99       pune
2  friendC     33  vijaywada
3  friendD     10         un

In [117]:
df.to_csv('test.csv', index=False)

In [118]:
df.head(1)

      name  marks       city
0  friendA    100  hyderabad

In [119]:
df.tail(1)

      name  marks city
3  friendD     10   un

In [120]:
df.describe()

            marks
count    4.000000
mean    60.500000
std     46.003623
min     10.000000
25%     27.250000
50%     66.000000
75%     99.250000
max    100.000000

In [121]:
df = pd.read_csv('trains.csv')

In [122]:
df

   Train No  Speed       City
0     82398     70      delhi
1     72391     50     mumbai
2     61280    100  hyderabad
3     19842     80    kolkata

In [123]:
df.Speed

0     70
1     50
2    100
3     80
Name: Speed, dtype: int64

In [124]:
# df['Speed'][0] = 65
df.loc[0, 'Speed'] = 65

In [125]:
df

   Train No  Speed       City
0     82398     65      delhi
1     72391     50     mumbai
2     61280    100  hyderabad
3     19842     80    kolkata

In [126]:
df.index = [1,2,3,4]

In [127]:
df

   Train No  Speed       City
1     82398     65      delhi
2     72391     50     mumbai
3     61280    100  hyderabad
4     19842     80    kolkata

In [128]:
print(type(df))
print(type(df['Speed']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [129]:
series = pd.Series(np.random.rand(5))

In [130]:
series

0    0.810763
1    0.857172
2    0.001506
3    0.955657
4    0.649635
dtype: float64

In [131]:
dataframe = pd.DataFrame(np.random.rand(55,5), index=np.arange(55))

In [132]:
dataframe

           0         1         2         3         4
0   0.544575  0.866657  0.520421  0.623188  0.183678
1   0.630287  0.654071  0.432477  0.202041  0.813979
2   0.130018  0.659380  0.826773  0.749288  0.454813
3   0.078406  0.577785  0.225951  0.434140  0.050530
4   0.337697  0.759474  0.447242  0.797701  0.549382
5   0.350387  0.116230  0.363389  0.896491  0.685231
6   0.574199  0.187620  0.818986  0.096618  0.368255
7   0.706759  0.281024  0.705019  0.501804  0.582914
8   0.201542  0.894653  0.732266  0.951225  0.129696
9   0.292835  0.140876  0.273486  0.890350  0.324290
10  0.663210  0.403558  0.657193  0.777389  0.363850
11  0.985520  0.683077  0.871521  0.551390  0.544459
12  0.080936  0.602269  0.153145  0.475410  0.985758
13  0.271885  0.495870  0.922583  0.083810  0.296850
14  0.668058  0.306742  0.745244  0.822549  0.817265
15  0.361715  0.207002  0.931873  0.418125  0.348960
16  0.879939  0.351344  0.555029  0.261707  0.211710
17  0.636680  0.784643  0.368640  0.942403  0.305683
18  0.467902  0.660109  0.828946  0.149924  0.226143
19  0.788795  0.786999  0.974192  0.488719  0.544662
20  0.923112  0.511004  0.594054  0.248068  0.366899
21  0.959149  0.521581  0.873441  0.667032  0.029361
22  0.598183  0.161747  0.935887  0.958935  0.685207
23  0.066403  0.477606  0.390947  0.660231  0.631414
24  0.207715  0.632313  0.510583  0.134790  0.140382
25  0.174776  0.865268  0.865313  0.182091  0.180989
26  0.676535  0.355018  0.657393  0.454476  0.149922
27  0.666055  0.866771  0.319702  0.241401  0.011280
28  0.956386  0.743541  0.056521  0.885993  0.572639
29  0.551273  0.813016  0.360122  0.622955  0.316741
30  0.173931  0.503285  0.655054  0.864522  0.988104
31  0.094835  0.903135  0.229772  0.957012  0.797877
32  0.566775  0.403694  0.654289  0.810022  0.010487
33  0.160726  0.588731  0.055813  0.445046  0.717640
34  0.381622  0.949425  0.339430  0.820720  0.926747
35  0.754231  0.397675  0.923200  0.668887  0.700488
36  0.494010  0.873629  0.717368  0.003206  0.346399
37  0.163601  0.433558  0.264237  0.968968  0.180477
38  0.660916  0.652909  0.499929  0.608099  0.019520
39  0.382970  0.036788  0.942948  0.627942  0.677515
40  0.727739  0.243854  0.033094  0.666444  0.774850
41  0.638780  0.706705  0.032271  0.729735  0.090153
42  0.557883  0.056795  0.157598  0.889376  0.279651
43  0.419897  0.125264  0.483706  0.973448  0.615344
44  0.001819  0.090945  0.603080  0.672645  0.418978
45  0.536598  0.214338  0.397849  0.518615  0.043564
46  0.279561  0.641091  0.252603  0.871462  0.455282
47  0.007014  0.817504  0.357389  0.873276  0.942446
48  0.553684  0.409749  0.493361  0.835209  0.361318
49  0.162109  0.691600  0.575190  0.864599  0.604446
50  0.187947  0.592066  0.506807  0.827712  0.142265
51  0.131790  0.973331  0.303958  0.537333  0.881421
52  0.153244  0.777496  0.123628  0.229951  0.725063
53  0.898376  0.764169  0.317101  0.134084  0.397980
54  0.517587  0.690065  0.831892  0.964289  0.079204

In [133]:
dataframe.describe()

               0          1          2          3          4
count  55.000000  55.000000  55.000000  55.000000  55.000000
mean    0.455247   0.543728   0.521271   0.609688   0.437276
std     0.277502   0.263362   0.274192   0.285935   0.286764
min     0.001819   0.036788   0.032271   0.003206   0.010487
25%     0.181361   0.353181   0.318401   0.439593   0.182334
50%     0.494010   0.592066   0.506807   0.666444   0.368255
75%     0.662063   0.761822   0.738755   0.864560   0.681361
max     0.985520   0.973331   0.974192   0.973448   0.988104

In [134]:
dataframe.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [135]:
dataframe[0][0] = "nums"

In [136]:
dataframe.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [137]:
dataframe

           0         1         2         3         4
0       nums  0.866657  0.520421  0.623188  0.183678
1   0.630287  0.654071  0.432477  0.202041  0.813979
2   0.130018  0.659380  0.826773  0.749288  0.454813
3   0.078406  0.577785  0.225951  0.434140  0.050530
4   0.337697  0.759474  0.447242  0.797701  0.549382
5   0.350387  0.116230  0.363389  0.896491  0.685231
6   0.574199  0.187620  0.818986  0.096618  0.368255
7   0.706759  0.281024  0.705019  0.501804  0.582914
8   0.201542  0.894653  0.732266  0.951225  0.129696
9   0.292835  0.140876  0.273486  0.890350  0.324290
10   0.66321  0.403558  0.657193  0.777389  0.363850
11   0.98552  0.683077  0.871521  0.551390  0.544459
12  0.080936  0.602269  0.153145  0.475410  0.985758
13  0.271885  0.495870  0.922583  0.083810  0.296850
14  0.668058  0.306742  0.745244  0.822549  0.817265
15  0.361715  0.207002  0.931873  0.418125  0.348960
16  0.879939  0.351344  0.555029  0.261707  0.211710
17   0.63668  0.784643  0.368640  0.942403  0.305683
18  0.467902  0.660109  0.828946  0.149924  0.226143
19  0.788795  0.786999  0.974192  0.488719  0.544662
20  0.923112  0.511004  0.594054  0.248068  0.366899
21  0.959149  0.521581  0.873441  0.667032  0.029361
22  0.598183  0.161747  0.935887  0.958935  0.685207
23  0.066403  0.477606  0.390947  0.660231  0.631414
24  0.207715  0.632313  0.510583  0.134790  0.140382
25  0.174776  0.865268  0.865313  0.182091  0.180989
26  0.676535  0.355018  0.657393  0.454476  0.149922
27  0.666055  0.866771  0.319702  0.241401  0.011280
28  0.956386  0.743541  0.056521  0.885993  0.572639
29  0.551273  0.813016  0.360122  0.622955  0.316741
30  0.173931  0.503285  0.655054  0.864522  0.988104
31  0.094835  0.903135  0.229772  0.957012  0.797877
32  0.566775  0.403694  0.654289  0.810022  0.010487
33  0.160726  0.588731  0.055813  0.445046  0.717640
34  0.381622  0.949425  0.339430  0.820720  0.926747
35  0.754231  0.397675  0.923200  0.668887  0.700488
36   0.49401  0.873629  0.717368  0.003206  0.346399
37  0.163601  0.433558  0.264237  0.968968  0.180477
38  0.660916  0.652909  0.499929  0.608099  0.019520
39   0.38297  0.036788  0.942948  0.627942  0.677515
40  0.727739  0.243854  0.033094  0.666444  0.774850
41   0.63878  0.706705  0.032271  0.729735  0.090153
42  0.557883  0.056795  0.157598  0.889376  0.279651
43  0.419897  0.125264  0.483706  0.973448  0.615344
44  0.001819  0.090945  0.603080  0.672645  0.418978
45  0.536598  0.214338  0.397849  0.518615  0.043564
46  0.279561  0.641091  0.252603  0.871462  0.455282
47  0.007014  0.817504  0.357389  0.873276  0.942446
48  0.553684  0.409749  0.493361  0.835209  0.361318
49  0.162109  0.691600  0.575190  0.864599  0.604446
50  0.187947  0.592066  0.506807  0.827712  0.142265
51   0.13179  0.973331  0.303958  0.537333  0.881421
52  0.153244  0.777496  0.123628  0.229951  0.725063
53  0.898376  0.764169  0.317101  0.134084  0.397980
54  0.517587  0.690065  0.831892  0.964289  0.079204

In [138]:
dataframe.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54],
           dtype='int64')

In [139]:
dataframe.columns

RangeIndex(start=0, stop=5, step=1)

In [140]:
dataframe[0][0] = 3

In [141]:
dataframe.to_numpy()

array([[3, 0.8666570952525567, 0.5204205664133574, 0.6231878740956946,
        0.18367812667912042],
       [0.6302870642030994, 0.6540705380508887, 0.4324772628500526,
        0.20204130235792517, 0.8139786914878031],
       [0.13001773834573394, 0.6593801653857176, 0.8267729829332764,
        0.7492878126566032, 0.45481293634558895],
       [0.07840615228873737, 0.5777847038851892, 0.2259511177302953,
        0.43413965539291577, 0.05053030035519035],
       [0.33769652391611593, 0.7594740570453877, 0.44724234757315307,
        0.797700767034837, 0.5493824717198205],
       [0.3503865360104218, 0.11623030443657456, 0.36338946376255243,
        0.8964906141277081, 0.68523119538828],
       [0.5741986296977196, 0.1876195711267742, 0.8189860124168636,
        0.09661793069705893, 0.36825515292032085],
       [0.7067585297101575, 0.2810243070524534, 0.7050186530892382,
        0.5018044442062398, 0.5829143711836138],
       [0.20154206282791698, 0.8946525489100792, 0.7322658312642671,
        0.9512251244265917, 0.12969607856354826],
       [0.29283538448899804, 0.14087606793026286, 0.27348612496351954,
        0.8903503761309487, 0.32428960025758147],
       [0.6632098140060735, 0.4035584850890219, 0.6571930065594414,
        0.7773887763484874, 0.3638497808219201],
       [0.9855200821189414, 0.6830766517803587, 0.8715208260862212,
        0.5513903327272326, 0.5444585964186271],
       [0.0809360116482718, 0.6022686961368554, 0.1531446398649654,
        0.4754099156579711, 0.9857582820510398],
       [0.27188531201865584, 0.49586998038557395, 0.9225833140636808,
        0.08380953982541928, 0.29685044991293463],
       [0.668057565341024, 0.30674227042225877, 0.7452440286282156,
        0.8225487036679945, 0.8172645989432521],
       [0.361715005572926, 0.20700151753273455, 0.9318727605450841,
        0.4181250798857711, 0.3489597524472291],
       [0.8799386666565753, 0.35134433905891793, 0.5550288930159439,
        0.2617065105813169, 0.21170998963677246],
       [0.6366802977231371, 0.7846432077163882, 0.3686404093366842,
        0.9424034050601987, 0.3056832605071047],
       [0.46790196033351517, 0.6601087914319389, 0.8289458509528017,
        0.14992429965465626, 0.22614344280502707],
       [0.7887954423495297, 0.786998971878988, 0.9741919744197355,
        0.4887185241751155, 0.5446619832964072],
       [0.9231121662758777, 0.5110039127840418, 0.5940537258667284,
        0.24806807741079206, 0.3668985768387317],
       [0.9591485054756753, 0.5215806527504206, 0.8734414679239914,
        0.6670315103421247, 0.029360598884897948],
       [0.5981834721696757, 0.1617470719662305, 0.9358869687593983,
        0.9589351809244232, 0.6852068323997293],
       [0.06640282794563901, 0.47760598693399026, 0.3909469979401272,
        0.6602307460333657, 0.6314141372113627],
       [0.20771452898506704, 0.6323134692996407, 0.5105825820170742,
        0.13478960712214327, 0.14038218099004507],
       [0.1747758452181618, 0.8652682581205955, 0.8653131179792468,
        0.18209071156699685, 0.18098929788260654],
       [0.6765348830548435, 0.35501825198733616, 0.6573925753614981,
        0.4544760248861248, 0.14992173752051985],
       [0.6660547352031574, 0.8667711907025845, 0.3197016446711466,
        0.2414007100796478, 0.011280314708230432],
       [0.9563862425498688, 0.743540928574426, 0.05652075305626714,
        0.8859929608906701, 0.5726391710132083],
       [0.5512733039622891, 0.8130161120676289, 0.36012202070863597,
        0.6229551350139079, 0.3167405535933949],
       [0.17393086738175634, 0.5032854027016705, 0.6550540444377704,
        0.8645223415481469, 0.9881042937987411],
       [0.09483456195151929, 0.9031351193340805, 0.22977154477029416,
        0.9570122451269717, 0.7978767036654267],
       [0.5667750206266147, 0.40369379388659243, 0.6542888459975761,
        0.8100218765660632, 0.010487432626735793],
       [0.1607256136217693, 0.5887307025824318, 0.05581284552044752,
        0.44504636826062427, 0.7176402679255518],
       [0.3816224081817621, 0.9494253970546149, 0.33942954421457006,
        0.8207196701926229, 0.9267466733870913],
       [0.754230699995121, 0.3976753955926373, 0.9232003492707305,
        0.6688865930484259, 0.7004878852432145],
       [0.4940098109018062, 0.8736291821859704, 0.7173683354481482,
        0.003205537140356318, 0.34639893560628476],
       [0.1636010770716363, 0.4335575038038517, 0.2642366725542883,
        0.9689683015528971, 0.18047667243134313],
       [0.6609156260125474, 0.6529088114726826, 0.4999292470818707,
        0.6080986547707873, 0.019519718047817713],
       [0.3829703557858517, 0.036787613137687414, 0.9429478814343303,
        0.6279419762777849, 0.677514977739257],
       [0.7277390090489466, 0.2438539933641639, 0.033093936674311375,
        0.6664438805753106, 0.774849817432562],
       [0.638780436445031, 0.7067046731090946, 0.03227132045450565,
        0.7297352539013964, 0.09015256305182706],
       [0.5578832539509795, 0.05679473537673796, 0.15759795142038624,
        0.8893758287814122, 0.27965146077728487],
       [0.41989687195548486, 0.12526413793996927, 0.48370612880364283,
        0.9734482412170489, 0.6153436423431705],
       [0.001819333373352272, 0.0909451027337509, 0.6030802881091937,
        0.6726451104652911, 0.4189780842585412],
       [0.5365979676001018, 0.2143376110949725, 0.39784891363431374,
        0.5186152527108567, 0.04356446901374711],
       [0.2795605318733747, 0.6410912674107994, 0.252603149074773,
        0.871461858136091, 0.4552822988518834],
       [0.0070138241149138025, 0.8175042484086297, 0.3573891113853156,
        0.8732760346748231, 0.9424458365940304],
       [0.553684039621894, 0.4097485609110022, 0.4933614066230916,
        0.8352091516992364, 0.36131847804486017],
       [0.16210869485325097, 0.6916003835675579, 0.5751901690929503,
        0.8645985728933641, 0.6044457113868522],
       [0.18794690304538397, 0.5920661911576143, 0.5068066532220078,
        0.827711966407565, 0.1422651939380205],
       [0.13179033213736913, 0.9733313158625225, 0.30395827697489797,
        0.5373330155456392, 0.8814212588255788],
       [0.15324398205885703, 0.7774956637888917, 0.12362810214703324,
        0.2299509682632368, 0.7250628800203732],
       [0.8983755725844095, 0.7641690524517903, 0.3171011011362296,
        0.13408449698708402, 0.39797983688076],
       [0.5175874891041129, 0.6900646290207931, 0.8318923691989231,
        0.9642887773449551, 0.07920432213708417]], dtype=object)

In [142]:
dataframe.T

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,3,0.630287,0.130018,0.078406,0.337697,0.350387,0.574199,0.706759,0.201542,0.292835,...,0.536598,0.279561,0.007014,0.553684,0.162109,0.187947,0.13179,0.153244,0.898376,0.517587
1,0.866657,0.654071,0.65938,0.577785,0.759474,0.11623,0.18762,0.281024,0.894653,0.140876,...,0.214338,0.641091,0.817504,0.409749,0.6916,0.592066,0.973331,0.777496,0.764169,0.690065
2,0.520421,0.432477,0.826773,0.225951,0.447242,0.363389,0.818986,0.705019,0.732266,0.273486,...,0.397849,0.252603,0.357389,0.493361,0.57519,0.506807,0.303958,0.123628,0.317101,0.831892
3,0.623188,0.202041,0.749288,0.43414,0.797701,0.896491,0.096618,0.501804,0.951225,0.89035,...,0.518615,0.871462,0.873276,0.835209,0.864599,0.827712,0.537333,0.229951,0.134084,0.964289
4,0.183678,0.813979,0.454813,0.05053,0.549382,0.685231,0.368255,0.582914,0.129696,0.32429,...,0.043564,0.455282,0.942446,0.361318,0.604446,0.142265,0.881421,0.725063,0.39798,0.079204

In [144]:
dataframe.sort_index(axis=0, ascending=False)

           0         1         2         3         4
54  0.517587  0.690065  0.831892  0.964289  0.079204
53  0.898376  0.764169  0.317101  0.134084  0.397980
52  0.153244  0.777496  0.123628  0.229951  0.725063
51   0.13179  0.973331  0.303958  0.537333  0.881421
50  0.187947  0.592066  0.506807  0.827712  0.142265
49  0.162109  0.691600  0.575190  0.864599  0.604446
48  0.553684  0.409749  0.493361  0.835209  0.361318
47  0.007014  0.817504  0.357389  0.873276  0.942446
46  0.279561  0.641091  0.252603  0.871462  0.455282
45  0.536598  0.214338  0.397849  0.518615  0.043564
44  0.001819  0.090945  0.603080  0.672645  0.418978
43  0.419897  0.125264  0.483706  0.973448  0.615344
42  0.557883  0.056795  0.157598  0.889376  0.279651
41   0.63878  0.706705  0.032271  0.729735  0.090153
40  0.727739  0.243854  0.033094  0.666444  0.774850
39   0.38297  0.036788  0.942948  0.627942  0.677515
38  0.660916  0.652909  0.499929  0.608099  0.019520
37  0.163601  0.433558  0.264237  0.968968  0.180477
36   0.49401  0.873629  0.717368  0.003206  0.346399
35  0.754231  0.397675  0.923200  0.668887  0.700488
34  0.381622  0.949425  0.339430  0.820720  0.926747
33  0.160726  0.588731  0.055813  0.445046  0.717640
32  0.566775  0.403694  0.654289  0.810022  0.010487
31  0.094835  0.903135  0.229772  0.957012  0.797877
30  0.173931  0.503285  0.655054  0.864522  0.988104
29  0.551273  0.813016  0.360122  0.622955  0.316741
28  0.956386  0.743541  0.056521  0.885993  0.572639
27  0.666055  0.866771  0.319702  0.241401  0.011280
26  0.676535  0.355018  0.657393  0.454476  0.149922
25  0.174776  0.865268  0.865313  0.182091  0.180989
24  0.207715  0.632313  0.510583  0.134790  0.140382
23  0.066403  0.477606  0.390947  0.660231  0.631414
22  0.598183  0.161747  0.935887  0.958935  0.685207
21  0.959149  0.521581  0.873441  0.667032  0.029361
20  0.923112  0.511004  0.594054  0.248068  0.366899
19  0.788795  0.786999  0.974192  0.488719  0.544662
18  0.467902  0.660109  0.828946  0.149924  0.226143
17   0.63668  0.784643  0.368640  0.942403  0.305683
16  0.879939  0.351344  0.555029  0.261707  0.211710
15  0.361715  0.207002  0.931873  0.418125  0.348960
14  0.668058  0.306742  0.745244  0.822549  0.817265
13  0.271885  0.495870  0.922583  0.083810  0.296850
12  0.080936  0.602269  0.153145  0.475410  0.985758
11   0.98552  0.683077  0.871521  0.551390  0.544459
10   0.66321  0.403558  0.657193  0.777389  0.363850
9   0.292835  0.140876  0.273486  0.890350  0.324290
8   0.201542  0.894653  0.732266  0.951225  0.129696
7   0.706759  0.281024  0.705019  0.501804  0.582914
6   0.574199  0.187620  0.818986  0.096618  0.368255
5   0.350387  0.116230  0.363389  0.896491  0.685231
4   0.337697  0.759474  0.447242  0.797701  0.549382
3   0.078406  0.577785  0.225951  0.434140  0.050530
2   0.130018  0.659380  0.826773  0.749288  0.454813
1   0.630287  0.654071  0.432477  0.202041  0.813979
0          3  0.866657  0.520421  0.623188  0.183678

In [145]:
dataframe.sort_index(axis=1, ascending=False)

           4         3         2         1         0
0   0.183678  0.623188  0.520421  0.866657         3
1   0.813979  0.202041  0.432477  0.654071  0.630287
2   0.454813  0.749288  0.826773  0.659380  0.130018
3   0.050530  0.434140  0.225951  0.577785  0.078406
4   0.549382  0.797701  0.447242  0.759474  0.337697
5   0.685231  0.896491  0.363389  0.116230  0.350387
6   0.368255  0.096618  0.818986  0.187620  0.574199
7   0.582914  0.501804  0.705019  0.281024  0.706759
8   0.129696  0.951225  0.732266  0.894653  0.201542
9   0.324290  0.890350  0.273486  0.140876  0.292835
10  0.363850  0.777389  0.657193  0.403558   0.66321
11  0.544459  0.551390  0.871521  0.683077   0.98552
12  0.985758  0.475410  0.153145  0.602269  0.080936
13  0.296850  0.083810  0.922583  0.495870  0.271885
14  0.817265  0.822549  0.745244  0.306742  0.668058
15  0.348960  0.418125  0.931873  0.207002  0.361715
16  0.211710  0.261707  0.555029  0.351344  0.879939
17  0.305683  0.942403  0.368640  0.784643   0.63668
18  0.226143  0.149924  0.828946  0.660109  0.467902
19  0.544662  0.488719  0.974192  0.786999  0.788795
20  0.366899  0.248068  0.594054  0.511004  0.923112
21  0.029361  0.667032  0.873441  0.521581  0.959149
22  0.685207  0.958935  0.935887  0.161747  0.598183
23  0.631414  0.660231  0.390947  0.477606  0.066403
24  0.140382  0.134790  0.510583  0.632313  0.207715
25  0.180989  0.182091  0.865313  0.865268  0.174776
26  0.149922  0.454476  0.657393  0.355018  0.676535
27  0.011280  0.241401  0.319702  0.866771  0.666055
28  0.572639  0.885993  0.056521  0.743541  0.956386
29  0.316741  0.622955  0.360122  0.813016  0.551273
30  0.988104  0.864522  0.655054  0.503285  0.173931
31  0.797877  0.957012  0.229772  0.903135  0.094835
32  0.010487  0.810022  0.654289  0.403694  0.566775
33  0.717640  0.445046  0.055813  0.588731  0.160726
34  0.926747  0.820720  0.339430  0.949425  0.381622
35  0.700488  0.668887  0.923200  0.397675  0.754231
36  0.346399  0.003206  0.717368  0.873629   0.49401
37  0.180477  0.968968  0.264237  0.433558  0.163601
38  0.019520  0.608099  0.499929  0.652909  0.660916
39  0.677515  0.627942  0.942948  0.036788   0.38297
40  0.774850  0.666444  0.033094  0.243854  0.727739
41  0.090153  0.729735  0.032271  0.706705   0.63878
42  0.279651  0.889376  0.157598  0.056795  0.557883
43  0.615344  0.973448  0.483706  0.125264  0.419897
44  0.418978  0.672645  0.603080  0.090945  0.001819
45  0.043564  0.518615  0.397849  0.214338  0.536598
46  0.455282  0.871462  0.252603  0.641091  0.279561
47  0.942446  0.873276  0.357389  0.817504  0.007014
48  0.361318  0.835209  0.493361  0.409749  0.553684
49  0.604446  0.864599  0.575190  0.691600  0.162109
50  0.142265  0.827712  0.506807  0.592066  0.187947
51  0.881421  0.537333  0.303958  0.973331   0.13179
52  0.725063  0.229951  0.123628  0.777496  0.153244
53  0.397980  0.134084  0.317101  0.764169  0.898376
54  0.079204  0.964289  0.831892  0.690065  0.517587